{%extends 'base.html'%}

{% load static %}

    {%block content%}

    

        <div class="content">
            <header>
                 <h1> BEM-VINDO AO NOSSO ESPAÇO DE COLABORAÇÃO
                    <br />
                </h1>
                <p>Costurando pontes entre gestão, colabores e multiplicadores</p>
            </header>
                <p>Através de nossa aplicação WEB será possível 
                    uma comunicação mais eficientee dinâmica.</p>
                    <ul class="actions">
                        <li><a href="#" class="button big">Mais sobre o Projeto</a></li>
                    </ul>
                </div>
                <span class="image object">
                    <img src="{% static  "images/pic10.jpg" %}" />
                </span>
        {%endblock content%}